# Archivos de configuración con datos sensibles
config.py

# Archivos temporales y de sistema
__pycache__/
*.pyc
.DS_Store
.env

# Archivos de Excel/ODS
*.xlsx
*.xls
*.ods

# Archivos de logs
*.log

# Carpetas de compilación y distribución
build/
dist/

# Archivos de especificación de PyInstaller
*.spec 